.container {
    display: flex;
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    min-height: 100vh; /* Garante que o container ocupe toda a altura da tela */
    max-width: 958px; /* Define a largura máxima do container */
    padding: 1px 0; /* Adiciona um padding opcional */
    margin: 0 auto; /* Opcional: centraliza o container horizontalmente se ele tiver uma largura fixa */
    transform: scale(1.2);
}

  
  .card {
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding-right: 80px;
  }
  
  @media (max-width: 991px) {
    .card {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  
  .content {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  
  .sidebarContainer {
    border-radius: 16px 0 0 16px;
    background: linear-gradient(#67AE37, #4A8920);
    display: flex;
    flex-grow: 1;
    padding-bottom: 403px;
    flex-direction: column;
    color: #fff;
    text-align: center;
    width: 70%;
    font: 800 20px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .sidebarContainer {
      margin-top: 40px;
      padding-bottom: 100px;
    }
  }
  
  .logo {
    aspect-ratio: 3.38;
    object-fit: contain;
    object-position: center;
    width: 304px;
    border-radius: 16px 0 0 0;
    z-index: 10;
    background-color: #fff;
  }
  
  .sidebarTitle {
    align-self: center;
    position: relative;
    top: 160px; /* Move o elemento 49px para baixo */
    margin-left: 10px;
    text-align: center;
    padding: 0;
  }
  
  @media (max-width: 991px) {
    .sidebarTitle {
      margin-top: 40px;
    }
  }
  
  .menuContainer {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #4f9122;
    text-align: center;
    margin: auto 0;
    font: 800 15px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .menuContainer {
      margin-top: 40px;
    }
  }
  
  .menuItem {
    border-radius: 30px;
    background-color: #fffefe;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px;
    border: 1px solid #4f9122;
    margin-top: 25px;
  }
  
  .menuItem:first-child {
    margin-top: 0;
  }
  
  @media (max-width: 991px) {
    .menuItem {
      padding: 0 20px;
    }
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .logo{
    width: 304px;
    border-radius: 16px 0 0 0;
    
  }