.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 958px;
  padding: 1px 0;
  margin: 0 auto;
}

.card {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
  width: 140%;
  padding-right: 250px;
}

@media (max-width: 991px) {
  .card {
    max-width: 100%;
    padding-right: 20px;
  }
}

.content {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.sidebarContainer {
  border-radius: 16px 0 0 16px;
  background: linear-gradient(#67AE37, #4A8920);
  display: flex;
  flex-grow: 1;
  padding-bottom: 453px;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 55%;
  font: 800 20px Inter, sans-serif;
}

@media (max-width: 991px) {
  .sidebarContainer {
    margin-top: 40px;
    padding-bottom: 100px;
  }
}

.logo {
  aspect-ratio: 3.38;
  object-fit: contain;
  object-position: center;
  width: 304px;
  border-radius: 16px 0 0 0;
  z-index: 10;
  background-color: #fff;
}

.sidebarTitle {
  align-self: center;
  position: relative;
  top: 160px;
  margin-left: 10px;
  text-align: center;
  padding: 0;
}

@media (max-width: 991px) {
  .sidebarTitle {
    margin-top: 40px;
  }
}

.formTitle {
  align-self: center;
  position: relative;
  left: 260%;
  bottom: 60%;
  margin-left: -250px;
  color: #4f9122;
  text-align: center;
  padding: 0;
  font: 600 40px Inter, sans-serif;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #4f9122;
  text-align: center;
  margin: auto 0;
  font: 800 15px Inter, sans-serif;
}

@media (max-width: 991px) {
  .menuContainer {
    margin-top: 40px;
  }
}

.menuItem {
  border-radius: 30px;
  background-color: #fffefe;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px;
  border: 1px solid #4f9122;
  margin-top: 25px;
}

.menuItem:first-child {
  margin-top: 0;
}

@media (max-width: 991px) {
  .menuItem {
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  width: 304px;
  border-radius: 16px 0 0 0;
}

.historicoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
  padding-left: 1%;
  margin-top: 80px;
  width: 110%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 68%;
  left: 120px;
  position: relative;

}

.searchInput {
  width: 60%;
  padding: 10px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #4A8920;
  color: #ddd;
}

.searchInput::placeholder {
  color: #ffffff;
}

.createButton {
  width: auto;
  padding: 8.5px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #4A8920;
}

.historicoTable {
  width: 20%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.historicoTableContainer {
  max-height: 500px;
  width: 150%;
}

.historicoTable th, .historicoTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  white-space: nowrap;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.historicoTable th {
  background-color: #4f9122;
  color: white;
  font-weight: bold;
}

.historicoTable tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-right: 200px;
  gap: 20px;
}

.pageButton {
  margin: 0 5px;
  background-color: #4f9122;
  border: none;
  color: white;
}

.activePage {
  background-color: #4f9122;
  color: white;
  border: none;
}

.pageButton:focus,
.pageButton:active {
  outline: none;
  box-shadow: none;
  background-color: #4f9122;
}

.pageButton:disabled {
  background-color: #67AE37;
  color: #ffffff;
}

.actionButton {
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.editButton {
  background-color: #007bff;
  margin-right: 8px;
}

.editButton:hover {
  background-color: #0056b3;
}

.deleteButton {
  background-color: #dc3545;
}

.deleteButton:hover {
  background-color: #c82333;
}
